:root {
    --colorPrimario: #D22A1E;
    --colorPrimarioOscuro: #982018;
    --colorSecundario: #9A9A9A;
    --colorGris: #2C2C2C;
    --colorGrisClaro: #2C2C2C;
    --colorBlanco: #FFFFFF;
    --colorNegro: #000000;
}

html {
    box-sizing: border-boxz;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* font-family: var(--fuenteParrafos); */
    font-size: 1.6rem;
    line-height: 2;
}


/* Globales */
/* .contenedor-principal {
    max-width: 120rem;
    width: 90%; 
} */

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}



/* Header */

.header{
    height: 3rem;
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* border: .5rem solid red; */
}

 .fecha-texto {
    color: var(--colorBlanco);
    margin-right: 5rem;
    margin-top: 0;
    font-size: 2.2rem;
} 

.fecha{
    color:#FFFFFF
}
.navegacion-principal {
    background-color: var(--colorNegro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.3);
    /* border: .5rem solid blue; */
}

.contenedor-logo {
    max-width: 100%;
    max-height: 100%;
    margin:0 5rem 0 5rem;
    /* border: .5rem solid purple; */
}

.logo-imagen {
    width: 20rem;
    height: 10rem;
}

.navegacion-lista {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    /* border: .5rem solid red; */
}

.navegacion-lista-enlace {
    color: var(--colorBlanco);
    font-size: 2.5rem;
}

.contenedor-iconos {
    /* flex-direction: column; */
}

.iconos-cont {
    margin: 0 5rem auto auto;
    display: flex;
    justify-content: space-evenly;
    color: var(--colorBlanco);
    width: 15rem;
    color: var(--colorBlanco);
    /* border: .5rem solid green; */
}

.iconos {
    color: var(--colorBlanco);
    font-size: 3rem;
    margin: 0 1rem;
}

.bi i {
    height: 20rem;
    width: 20rem;
}


.contenedor-banner {
    margin-top: 7rem;
}

.banner-guitarra {
    max-height: 80rem;
}

.contenedor-categorias {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
}

.contenedor-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.contenedor-producto-imagen {
    max-width: 40rem;
    max-height: 50rem;
    /* transform: rotateZ(90deg); */
}

.titulo-producto {
    margin: 1rem;
    font-size: 2.5rem;
}

.agregar-producto-carrito {
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: .5rem 2.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    border: .5rem solid var(--colorPrimario);
    transition: background-color .2s, color .2s, border .2s;
}

.agregar-producto-carrito:hover {
    background-color: var(--colorBlanco);
    color: var(--colorPrimario);
    
}

/* Amplificador */
.contenedor-amplificador{
    height: 10;
    margin: 10rem 0 30rem 0;
}

.amplificaror {
    height: 50rem;
    width: 100%;
}

/* a */

/* Footer */

.footer {
    background-color: var(--colorNegro);
    display: flex;
    justify-content: space-evenly;
}
.contenedor-horario {
    
}

.correo {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    /* border: .5rem solid red; */
    align-items: center;
}

.contacto-texto {
    color: var(--colorBlanco);
    font-size: 2rem;
}

.correo-icono {
    color: var(--colorBlanco);
    font-size: 2rem;
}