:root {
    --colorPrimario: #D22A1E;
    --colorPrimarioOscuro: #982018;
    --colorSecundario: #9A9A9A;
    --colorGris: #2C2C2C;
    --colorGrisClaro: #2C2C2C;
    --colorBlanco: #FFFFFF;
    --colorNegro: #000000;
}

html {
    box-sizing: border-boxz;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* font-family: var(--fuenteParrafos); */
    font-size: 1.6rem;
    line-height: 2;
}





/*estilos para boton hamburguesa*/
.bars_menu{display: none;}
.responsive{display: none;}
.navegacion-principal li {text-align: none;}
a {text-decoration: none;}

h1, h2, h3, h4 {
    font-family: Helvetica, sans-serif;
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img { width: 100%;
      height: 100%;
      max-width: 100%;
}
/*kk*/
.contenedor-banner {
  position: relative;
  
}

.titulo-superior,
.titulo-central,
.titulo-inferior {
  position: absolute;
  right:50%;
  transform: translateX(-50%);
  text-align:center;
  
  background-color: rgba(255, 255, 255, 0.7); /* Color de fondo */
  padding: 10px; /* Espaciado interno */
  
}

.titulo-superior {
  top: 10px; /* Distancia desde la parte superior */
}

.titulo-central {
  top: 50%; /* Centrado vertical */
  transform: translate(-50%, -50%);
}

.titulo-inferior {
  bottom: 10px; /* Distancia desde la parte inferior */
}



/* Header */




 .fecha-texto {
    color: var(--colorBlanco);
    margin-right: 5rem;
    margin-top: 0;
    font-size: 2.2rem;
} 

/* Navegación Principal */
.navegacion-principal {
    background-image: url(/img/hood.gif);
    background-size: cover;
    background-position: center;
   
/*     background-color: var(--colorNegro); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 90px rgba(0, 0, 0, 0.3);
   
}

.contenedor-logo {
    max-width: 100%;
    max-height: 100%;
    margin:0 5rem 0 5rem;
    
}

.logo-imagen {
    width: 20rem;
    height: 10rem;
}

.navegacion-lista {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    /* border: .5rem solid red; */
}

.navegacion-lista-enlace {
    color: var(--colorBlanco);
    font-size: 2.5rem;
}



.iconos-cont {
    margin: 0 5rem auto auto;
    display: flex;
    justify-content: space-evenly;
    color: var(--colorBlanco);
    width: 15rem;
    color: var(--colorBlanco);
}

.iconos {
    color: var(--colorBlanco);
    font-size: 3rem;
    margin: 0 1rem;
}

.bi i {
    height: 20rem;
    width: 20rem;
}
/* parti de css con categoria*/
#categoria-lista {
  display: none;
  position: absolute;
  background-color: #fff; /* Cambia el color de fondo según tus preferencias */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
  padding: 8px 0;
  z-index: 1;
}

#categorias-lista li {
  list-style: none;
}

#categorias-lista li a {
  display: block;
  padding: 8px 16px;
  color: #333; /* Color del texto */
  text-decoration: none;
}

#categorias-lista li a:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el cursor */
}

/* Banner Guitarra */

.slides {
    margin-top: 5rem;
}

.mySlides{
  max-height: 70rem;
}

/* Productos */

.titulo-categorias {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.contenedor-productos {
 display: grid;
 /* border: .5rem solid blue; */
}

.contenedor-producto {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 5rem;
 padding: 2rem;
 /* border: .5rem solid red; */
}

.contenedor-producto-imagen {
 max-width: 100%;
 max-height: 100%;
 /* border: .5rem solid plum; */
 /* transform: rotateZ(90deg); */
}

.titulo-producto {
 margin: 1rem 1rem 0 1rem;
 text-align: center;
 font-size: 2.7rem;
 font-weight: 700;
 color: var(--colorNegro);
 /* border: .5rem solid blue; */
}

/* Cambiar Cantidad */

.contenedor-cambiar-cantidad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.boton-menos {
  background-color: var(--colorPrimario);
  color: var(--colorBlanco);
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: .5rem;
  padding: 0 .1rem;
  border: none;
  cursor: pointer;
  border: .5rem solid var(--colorPrimario);
  transition: background-color .2s, color .2s, border .2s;
}

.cambiar-cantidad {
  width: 10%;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: .2rem 0 .2rem 0;
  margin: 0 1rem;
}

.boton-mas {
  background-color: var(--colorPrimario);
  color: var(--colorBlanco);
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: .5rem;
  padding: 0 .1rem;
  border: none;
  cursor: pointer;
  border: .5rem solid var(--colorPrimario);
  transition: background-color .2s, color .2s, border .2s;
}

.producto-precio {
 margin: 0 0 1rem 0;
 color: var(--colorPrimario);
 text-align: center;
 font-size: 2.7rem;
 font-weight: 700;
 /* border: .5rem solid green; */
}

.agregar-producto-carrito {
 /* width: 100%; */
 background-color: var(--colorPrimario);
 color: var(--colorBlanco);
 font-size: 2.8rem;
 font-weight: bold;
 /* margin: auto 0 2rem 0; */
 padding: 1.5rem 10rem;
 border-radius: 1rem;
 border: none;
 cursor: pointer;
 border: .5rem solid var(--colorPrimario);
 transition: background-color .2s, color .2s, border .2s;
}

.agregar-producto-carrito:hover {
 background-color: var(--colorBlanco);
 color: var(--colorPrimario); 
}

.boton-menos:hover {
  background-color: var(--colorBlanco);
  color: var(--colorPrimario); 
 }

.boton-mas:hover {
  background-color: var(--colorBlanco);
  color: var(--colorPrimario); 
 }

 /* CARRITO INICIO */

 .contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
  color: var(--clr-main);
  /* display: none; */
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-gray);
  color: var(--clr-main);
  padding: .5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
}

.carrito-produucto small {
  font-size: .75rem;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: var(--clr-red);
  cursor: pointer;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: var(--clr-gray);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--clr-main);
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  background-color: var(--clr-gray);
  padding: 1rem;
  color: var(--clr-main);
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: var(--clr-main);
  padding: 1rem;
  color: var(--clr-white);
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.disabled {
 display: none;
}

/* CARRITO FIN */

@media (min-width: 768px) {
  
  .titulo-categorias {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }

  .contenedor-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contenedor-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding: 2rem;
    /* border: .5rem solid blue; */
  }

  .contenedor-producto-imagen {
    max-width: 100%;
    max-height: 100%;
    /* border: .5rem solid plum; */
    /* transform: rotateZ(90deg); */
  }

  .titulo-producto {
    margin: 1rem 1rem 0 1rem;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--colorNegro);
    /* border: .5rem solid blue; */
  }

  .producto-precio {
    margin: 0 0 1rem 0;
    color: var(--colorPrimario);
    text-align: center;
    font-size: 2.7rem;
    font-weight: 700;
    /* border: .5rem solid green; */
  }

  /* Cambiar Cantidad */

.contenedor-cambiar-cantidad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  /* border: .5rem solid green; */
}

.boton-menos {
  background-color: var(--colorPrimario);
  color: var(--colorBlanco);
  font-size: 2.5rem;
  
  font-weight: bold;
  border-radius: .5rem;
  padding: 0 .1rem;
  border: none;
  cursor: pointer;
  border: .5rem solid var(--colorPrimario);
  transition: background-color .2s, color .2s, border .2s;
}

.boton-menos:hover {
  background-color: var(--colorBlanco);
  color: var(--colorPrimario); 
 }

.cambiar-cantidad {
  width: 10%;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: .2rem 0 .2rem 0;
  margin: 0 1rem;
}

.boton-mas {
  background-color: var(--colorPrimario);
  color: var(--colorBlanco);
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: .5rem;
  padding: 0 .1rem;
  border: none;
  cursor: pointer;
  border: .5rem solid var(--colorPrimario);
  transition: background-color .2s, color .2s, border .2s;
}

.boton-mas:hover {
  background-color: var(--colorBlanco);
  color: var(--colorPrimario); 
 }

.agregar-producto-carrito {
  /* width: 100%; */
  background-color: var(--colorPrimario);
  color: var(--colorBlanco);
  font-size: 2.8rem;
  font-weight: bold;
  /* margin: auto 0 2rem 0; */
  padding: 1.5rem 8rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  border: .5rem solid var(--colorPrimario);
  transition: background-color .2s, color .2s, border .2s;
}

.agregar-producto-carrito:hover {
  background-color: var(--colorBlanco);
  color: var(--colorPrimario);
    
}
}

@media (min-width: 1200px) {
  .contenedor-categorias {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }

  .contenedor-productos {
      display: grid;
      grid-template-columns: repeat(3, 30%);
      justify-content: center;
      /* border: .5rem solid blue; */
  }

  .contenedor-producto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5rem;
      padding: 5rem 5rem 2rem 5rem;
      /* border: .5rem solid red; */
  }

  .contenedor-producto-imagen {
    /* max-width: 100%;
    max-height: 100%; */
      max-width: 40rem;
      max-height: 50rem;
      /* transform: rotateZ(90deg); */
  }

  .titulo-producto {
      margin: 1rem;
      margin-bottom: 0;
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--colorNegro);
      /* border: .5rem solid blue; */
  }

  .producto-precio {
    margin: 0;
    color: var(--colorPrimario);
    font-size: 2.5rem;
    font-weight: 700;
    /* border: .5rem solid green; */
  }

  /* Cambiar Cantidad */

.contenedor-cambiar-cantidad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.boton-menos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: var(--colorPrimario);
  color: var(--colorBlanco);
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: .2rem;
  padding: .1rem .1rem;
  border: none;
  cursor: pointer;
  border: .5rem solid var(--colorPrimario);
  transition: background-color .2s, color .2s, border .2s;
}

.cambiar-cantidad {
  width: 10%;
  height: 2.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: .1rem 0 .1rem 0;
  margin: 0 1rem;
}

.boton-mas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background-color: var(--colorPrimario);
  color: var(--colorBlanco);
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: .2rem;
  padding: 0 .1rem;
  border: none;
  cursor: pointer;
  border: .5rem solid var(--colorPrimario);
  transition: background-color .2s, color .2s, border .2s;
}

  .agregar-producto-carrito {
      background-color: var(--colorPrimario);
      color: var(--colorBlanco);
      font-size: 2.4rem;
      font-weight: bold;
      margin-bottom: 2rem;
      padding: .5rem 1.5rem;
      border-radius: 1rem;
      border: none;
      cursor: pointer;
      border: .5rem solid var(--colorPrimario);
      transition: background-color .2s, color .2s, border .2s;
  }

  .agregar-producto-carrito:hover {
      background-color: var(--colorBlanco);
      color: var(--colorPrimario);
      
  }
}


/* Amplificador */
.contenedor-amplificador{
    height: 10;
    margin: 10rem 0 30rem 0;
}

.amplificaror {
    height: 50rem;
    width: 100%;
}

/* Seccion Info Producto ANA  */
.info {
    display: flex;
    justify-content: center;
    border: 0.2rem solid #2C2C2C;
    
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10rem,1fr; 
    column-gap: 0.1rem;
    row-gap: 0.1rem;
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 2px 2px 15px 9px rgba(0, 0, 0, 0.2);
    place-items: center;
   
}

.marca {
    display: flex;
    justify-content: center;
    align-items: center;
}
.marca img {
    width: 11rem;
}
h2, h3, h4, h5, p {
    font-family: Helvetica, sans-serif;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name p, .name h5, .caracteristicas p {
    color: gray;
    
}
.name  h3, h5, p{
    margin-top: 0rem;
    margin-bottom: 0;
}
.name h2 {
    font-size: 2.2rem;
    margin-bottom: 0;
}
.name h3, .caracteristicas h3{
    font-size: 1.8rem;
}
.name p {
    font-size: 1rem;
    
} 
.name h5 {
    font-size: 1.5rem;
}
    

span {
    color: #D22A1E;;
}

#photoContainer {
    display: flex;
    justify-content: center;
}

#mainPhoto {
    margin: 0;
    width: 49rem; 
    height: auto; 
    transition: width 0.3s ease; 
    
  }



  .caracteristicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.caracteristicas h3 {
    margin: 1rem;
}
.caracteristicas p {
    font-size: 1.3rem;
}
.cart {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #D22A1E;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    color: white;
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}
.cart:hover {
    transform: scale(1.1); 
  }


  @media screen and (max-width: 600px) {
    .grid {
      width: 100%; 
      grid-template-columns: 1fr;
      grid-template-rows: auto; 
      
    }
    .photo {
        width: 25rem;
      }
  }

  /* Seccion Info Producto ANA  FIN*/ 

    /* Página Carrito - Kelthoum - INICIO */
.caja_grande{width: 100%;
  height: 100%;}

.product_imagen {width: 30rem;
height: 30rem; 
margin-top: 5rem; 

}

#foto {
position: relative;
animation: mover 2s infinite; /* La animación "mover" durará 2 segundos y se repetirá infinitamente */
}

@keyframes mover {
0% {
top: 0; /* La imagen estará inicialmente en la posición superior (0 píxeles de distancia desde el borde superior) */
}
50% {
top: 100px; /* En la mitad de la animación, la imagen se moverá a 100 píxeles desde el borde superior */
}
100% {
top: 0; /* Al final de la animación, la imagen volverá a la posición inicial */
}
}

.pajena_carrito{ display: flex;

justify-content: center; 
gap: 5rem;
}

.caja_carrito{ width: 30rem;
height: rem;
background-color:var(--colorSecundario);
padding-left: 2rem;
padding-top: 5rem;
padding-right: 10rem;
margin-top: 6rem;
margin-bottom:
6.5rem;

}
.precio{padding-bottom: 5rem;}
.icons_cart{display:flex;
gap: 3rem;
font-size: 2rem;
}
button:hover{ background-color:var(--colorPrimario);
transition: .3sec;}
.compra_ahora{width: 60%;
height: 5%;

border-radius: 1rem; 
margin-top: 1rem;
background-color:var(--colorPrimario);}
/*.compra_ahora:hover{transition: .3sec;
background-color: red;}*/

.iva{font-size: 1rem;
margin-top: -1rem;}

.total{display: flex;
margin-top: 5rem;}
.total div {margin-top: 2rem;}

#totalValue{ border: 1px solid red;
height: 5rem;
margin-top: 3rem;}



/*Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
.pajena_carrito { 
align-items: stretch; /* Estira los elementos para llenar el contenedor */
display: flex;
gap: 1rem;
}

.caja_carrito {
flex-grow: 1; /* Permite que la caja crezca para ocupar el espacio restante */
}

.product_imagen {
order: -1; /* Coloca la imagen arriba en dispositivos móviles */
/* border-bottom:; /* Espacio entre la imagen y el contenido */
background-color: var(--colorSecundario);
height: 35rem;}

.contenedor-producto-imagen img{ width: 50%;
height: 50%;
margin: 3rem;
background-color:var(--colorBlanco);
}
}
/* Página Carrito - Kelthoum - FIN */






/* Slide-Photos inicio */




/* Slide-Photo final */


  

/* Footer */

.footer {
    
    width: 100%;
    position: relative;
    height: auto;
    background-color: var(--colorNegro);
   
  }
  .footer .col {
    margin-left: 10rem;
    
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: orange;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
   
    clear: both;
  }

  .foot {
  
    display: flex;
    justify-content: center;
    border-top: 1px solid #e2e2e2;
    color: var(--colorBlanco);
  }





  /*RESPONSIVE*/

  @media (max-width: 810px){
    .navegacion-lista{display: none;}
    .bars_menu{
      width: 6rem;
      height: 5rem;
      transform: translate(-50%, -50%);
      cursor: pointer;
      display: block;
      margin-left: 6rem;
      margin-top: 6rem;
    }
  
    .bars_menu span {
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--colorPrimario);
      margin-top: 6px; 
      transform-origin: 0px 100%;
      transition: all 600ms;
    } 
  .activeline1_bars-menu{
      transform: rotate(45deg) translate(-2px, 1px);
    }
    
  .activeline2_bars-menu{
      opacity: 0;
      margin-left: -5px;
    }
    
  .activeline3_bars-menu{
      transform: rotate(-45deg) translate(-4px, 2px);
    }

  .responsive{
      display: block;
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: var(--colorNegro);
      top: 7.4rem;
      left: -110%;
      text-align:left;
      transition: all .55s;
    }
    
  .responsive.show-menu {
      left: 0;
    }
    
    
  .responsive li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  .responsive li a{
      color: var(--colorPrimario);
    }
    
  .responsive li a:hover,.responsive li a.active {
        color: var(--colorBlanco);
    }
  }

    


  


/*aqui el responsive del header*/
@media (max-width: 428px){
.navegacion-principal{
    width: 100%;
    height:9rem;
  }
  
  /*aqui estilo boton hamburguesa*/
.bars_menu{
    width: 7rem;
    height: 5rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
    margin-left: 3rem;
    margin-top: 6rem;
  }

  .bars_menu span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--colorPrimario);
    margin-top: 6px; 
    transform-origin: 0px 100%;
    transition: all 600ms;
  } .activeline1_bars-menu{
    transform: rotate(45deg) translate(-2px, 1px);
  }
  
  .activeline2_bars-menu{
    opacity: 0;
    margin-left: -5px;
  }
  
  .activeline3_bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
  }
/*hasta aqui es hamburguesa*/


  
.contenedor-iconos-fecha{
  margin-top: 2rem;
    display: block;
    width: 30%;   
    height: 100%;
  }
.fecha-texto{
    width: 90%;
  }

.fecha{
    font-size: 1rem;
  }
.iconos-cont{
    display: flex;
    gap: 2rem;
    justify-content: unset;
  }
.iconos{
   font-size: 2rem;
   margin: 0 0;
   padding: 0 0;
   }
.navegacion-lista{ display: none;}
.navegacion-listaham {
 margin-top: -0rem;
  width: 100%;
  background-color: #000000;
  position: absolute;
  display: flex;
}
.navegacion-listaham a {
  font-size: 2rem;
   color: white;
 }


 /*aqui lo que los li del boton hamburguesa */
 .responsive{
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--colorNegro);
  top: 7.4rem;
  left: -110%;
  text-align:left;
  transition: all .55s;
}

.responsive.show-menu {
  left: 0;
}


.responsive li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
.responsive li a{
  color: var(--colorPrimario);
}

.responsive li a:hover, .responsive li a.active {
    color: var(--colorBlanco);
 }

}



/*hasta responsive del header*/


  @media only screen and (min-width: 1280px) {
    .contain {
       
      width: 1200px;
      margin: 0 auto;
     
    
      
      
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .head {
        height: 30%;
    }
    .page {
        height: 40%;
    }
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
    .head {
        height: 30%;
    }
.rool {
  font-size: 60px;
}
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

  @keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(-80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }


