:root {
    --colorPrimario: #D22A1E;
    --colorPrimarioOscuro: #982018;
    --colorSecundario: #9A9A9A;
    --colorGris: #2C2C2C;
    --colorGrisClaro: #2C2C2C;
    --colorBlanco: #FFFFFF;
    --colorNegro: #000000;
}

html {
    box-sizing: border-boxz;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* font-family: var(--fuenteParrafos); */
    font-size: 1.6rem;
    line-height: 2;
}


/* Globales */
/* .contenedor-principal {
    max-width: 120rem;
    width: 90%; 
} */

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}



/* Header */



 .fecha-texto {
    color: var(--colorBlanco);
    margin-right: 5rem;
    margin-top: 0;
    font-size: 2.2rem;
} 


.navegacion-principal {
    background-image: url(/img/hood.gif);
    background-size: cover;
    background-position: center;
   
/*     background-color: var(--colorNegro); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.3);
   
}

.contenedor-logo {
    max-width: 100%;
    max-height: 100%;
    margin:0 5rem 0 5rem;
    /* border: .5rem solid purple; */
}

.logo-imagen {
    width: 20rem;
    height: 10rem;
}

.navegacion-lista {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    /* border: .5rem solid red; */
}

.navegacion-lista-enlace {
    color: var(--colorBlanco);
    font-size: 2.5rem;
}

.contenedor-iconos {
    /* flex-direction: column; */
}

.iconos-cont {
    margin: 0 5rem auto auto;
    display: flex;
    justify-content: space-evenly;
    color: var(--colorBlanco);
    width: 15rem;
    color: var(--colorBlanco);
    /* border: .5rem solid green; */
}

.iconos {
    color: var(--colorBlanco);
    font-size: 3rem;
    margin: 0 1rem;
}

.bi i {
    height: 20rem;
    width: 20rem;
}


.contenedor-banner {
    margin-top: 7rem;
}

.banner-guitarra {
    max-height: 80rem;
}

.contenedor-categorias {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
}

.contenedor-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.contenedor-producto-imagen {
    max-width: 40rem;
    max-height: 50rem;
    /* transform: rotateZ(90deg); */
}

.titulo-producto {
    margin: 1rem;
    font-size: 2.5rem;
}

.agregar-producto-carrito {
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: .5rem 2.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    border: .5rem solid var(--colorPrimario);
    transition: background-color .2s, color .2s, border .2s;
}

.agregar-producto-carrito:hover {
    background-color: var(--colorBlanco);
    color: var(--colorPrimario);
    
}

/* Amplificador */
.contenedor-amplificador{
    height: 10;
    margin: 10rem 0 30rem 0;
}

.amplificaror {
    height: 50rem;
    width: 100%;
}

/* a */

/* Footer */

.footer {
    
    width: 100%;
    position: relative;
    height: auto;
    background-color: var(--colorNegro);
   
  }
  .footer .col {
    margin-left: 10rem;
    
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: orange;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
   
    clear: both;
  }

  .foot {
  
    display: flex;
    justify-content: center;
    border-top: 1px solid #e2e2e2;
    color: var(--colorBlanco);
  }





  /*RESPONSIVE*/
  @media only screen and (min-width: 1280px) {
    .contain {
       
      width: 1200px;
      margin: 0 auto;
     
    
      
      
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .head {
        height: 30%;
    }
    .page {
        height: 40%;
    }
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
    .head {
        height: 30%;
    }
.rool {
  font-size: 60px;
}
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

  @keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(-80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }


/* .footer {
    background-color: var(--colorNegro);
    
}


.correo {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    /* border: .5rem solid red; 
    align-items: center;
}

.contacto-texto {
    color: var(--colorBlanco);
    font-size: 2rem;
}

.correo-icono {
    color: var(--colorBlanco);
    font-size: 2rem;
} */